<ion-content ng-controller="MainCtrl">
  <div class="list card">
    <a href="#" ui-sref='newPatients.screening' ng-if="currentUser.role != 'Health Worker'" class="item item-icon-left">
      <i class="icon ion-person-add"></i>
      Enroll New Patients
    </a>
    <a href="#" ui-sref='patients' class="item item-icon-left">
      <i class="icon ion-clipboard"></i>
      Manage Active Patients
    </a>
    <a href="#" ui-sref='pdf' class="item item-icon-left">
      <i class="icon ion-android-note"></i>
      View Manual
    </a>
    <a href="javascript:void(0);" ng-click="syncData()" class="item item-icon-left">
      <i class="icon ion-refresh"></i>
      Sync Patient Data
    </a>
  </div>
</ion-content>
