<ion-content direction="y" padding="true">
  <h1>Register New Patient</h1>
  <form ng-submit="createParticipant(participant)" novalidate>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Patient Identifier" ng-model="participant.patientId">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="participant.firstName">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="participant.lastName">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model="participant.address">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="participant.city">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Phone" ng-model="participant.phone">
      </label>
    </div>
    <button type="submit" class="button button-positive button-block">Save</button>
      
  </form>
  <button class="button button-assertive button-block" ng-click="reset()">Reset</button>
  <button class="button button-stable button-block" ui-sref="main">Cancel</button>
</ion-content>