<ion-content direction="y" padding="true">
  <h1>Register New Patient</h1>
  <form ng-submit="createParticipant(participant)" novalidate>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Patient Identifier" ng-model="participant.patient_identifier">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="participant.first_name">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="participant.last_name">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Address" ng-model="participant.address">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="City" ng-model="participant.city">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Phone" ng-model="participant.phone">
      </label>
    </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Clinic" ng-model="participant.clinic">
      </label>
    </div>
    <button type="submit" class="button button-balanced button-block">Save</button>
      
  </form>
  <div class="button-bar">
    <a class="button button-energized button-block" ng-click="reset()">Reset</a>
    <a class="button button-calm button-block" ui-sref="main">Cancel</a>
  </div>
</ion-content>