<form>
    <div ng-repeat="questions in questionGroups" class="question-group list" data-idx="{{$index}}" ng-if='showQuestion($index)' >
        <div ng-repeat="question in questions" ng-show='language == question.language' >
            <label class="content-label">
                <div ng-switch on="questionViewType(question.type)">
                    <div ng-switch-when="checkbox">
                        <div ng-include="'surveys/checkbox.html'"></div>
                    </div>
                    <div ng-switch-when="radio">
                        <div ng-include="'surveys/radio.html'"></div>
                    </div>
                    <div ng-switch-when="html">
                        <div ng-include="'surveys/html.html'"></div>
                    </div>
                    <div ng-switch-default>
                        <div ng-include="'surveys/single.html'"></div>
                    </div>
                </div>
            </label>
        </div>
        <div ng-include="'surveys/nav.html'"></div>
    </div>
</form>
<button ng-click="switchLanguage(language)" class="button button-assertive" id="language-button">Switch language</button>
