<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Friendship App</title>

    <!-- ionic css -->
    <link href="lib/css/ionic.css" rel="stylesheet">

    <!-- your app's css -->
    <link href="css/app.css" rel="stylesheet">

    <!-- ionic/angularjs scripts -->
    <script src="lib/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's script -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>

    <!-- vendor -->
    <script src="vendor/underscore-min.js"></script>
  </head>

  <!-- 
    'starter' is the name of this angular module (js/app.js)
  -->
  <body ng-app="starter" ng-controller="AppCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Friendship Bench</h1>
        <button class="button" ng-click="logOut()">Sign Out</button>
      </ion-header-bar>
        <!-- <div ng-if="currentUser">Welcome, {{ currentUser.username }}</div>
        <div ng-switch on="currentUser.role">
          <div ng-switch-when="userRoles.researcher">You're researcher.</div>
          <div ng-switch-when="userRoles.assistant">You're assistant.</div>
          <div ng-switch-when="userRoles.chw">You're chw.</div>
          <div ng-switch-when="userRoles.dev">You're dev.</div>
          <div ng-switch-default>This is the default</div>
        </div> -->
    <ion-nav-view></ion-nav-view>
    <div login-dialog ng-if="!isLoginPage"></div>
  </body>
</html>
