/* Your app's CSS, go crazy, make it your own */

.ionic-logo {
  display: block;
  margin: 15px auto;
  width: 96px;
  height: 96px;
}

div.table-view {
  margin-left: 10%;
  margin-top: 2%;
}
table {
  padding: 10px;
  border-bottom: 1px solid black;  
}
table th, td{
  padding: 10px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 190px;
  text-align: center;
}
table th {
  background-color: gray;
  color: white;
  border-top: 1px solid black;
}
a.nav-link {
  color: #1aacc3;
}